[Desktop Entry]
Name=COSMIC Applet Opencode Usage
Exec=cosmic-applet-opencode-usage %F
Terminal=false
Type=Application
StartupNotify=true
Icon=com.system76.CosmicAppletOpencodeUsage
Categories=COSMIC;Utility;
Keywords=Opencode;Usage;Quota;Tracker;
MimeType=inode/directory;
NoDisplay=true
X-CosmicApplet=true
X-CosmicHoverPopup=Auto
