[Desktop Entry]
Name=COSMIC Applet OpenCode Usage
Exec=cosmic-applet-opencode-usage %F
Terminal=false
Type=Application
StartupNotify=true
Icon=com.vasilvestre.CosmicAppletOpencodeUsage
Categories=COSMIC;Utility;
Keywords=OpenCode;Usage;Quota;Tracker;
MimeType=inode/directory;
NoDisplay=true
X-CosmicApplet=true
X-CosmicHoverPopup=Auto
